<!-- <h1>This is my About Us page</h1> -->
<nav class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Restaurant</a>
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="menu-icon">&#9776;</label>
        <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Menu</a></li>
            <li><a href="#">What's On</a></li>
            <li><a href="#">Private Hire</a></li>
            <li><a href="#">All Locations</a></li>
            <li><a href="#">Deliveroo</a></li>
        </ul>
    </div>
</nav>

<!-- section 1  -->
<div class="container-fluid image1">
    <h1>JACKS</h1>
    <h2>ESTD BARS 1963</h2>
</div>

<!-- section2  -->
<div class="container">
    <p class="text-center pt-5">If you fancy stopping by, propping up the bar and having a drink in Waterloo, then
        Jacks is the place to be! <br>

        If you’re looking for a spot for after-work beers in Southwark then be sure to drop in. Located near the
        Southbank, we have an <br>extensive wine list and an authentic Thai menu to match. Our offer extends beyond
        the bar with takeaway and delivery on our food menu. </p>
    <h4 class="text-center pt-4">OUR STORY</h4>
    <p class="text-center pt-5">Jack’s Bar and Kitchen is the brainchild of Ryan and John McElhinney. We are located
        at 96 Isabella Street (behind Southwark <br>Tube Station) SE1 8DD. The original Jack’s was opened in Ireland
        in 1970 by their father Jack, so the boys decided to pay <br> tribute to their father by re-opening the
        original almost forty years on. Jack's is a bar for birthdays, catching up with friends,<br> lunch on our
        patio, craft beer, cocktails and delicious Thai food.</p>
    <p class="text-center">We cater for all events so enquire now by emailing: jacks@windmilltaverns.com</p>
</div>


<!-- section 3  -->

<div class="container-fluid mt-5 mb-5">
    <div class="row">
        <div class="col-md-6">
            <img src="imagea.avif" alt="Restaurant Image" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h3 class="mt-3 mt-md-0">MENUS</h3>
            <p class="pb-4">Our authentic Thai food "Johnny Rice" is served Monday - Friday for lunch.</p>
            <p>Grab your takeaway boxes, order your drinks, and find a table in our outdoor area to enjoy your
                afternoon.</p>
            <p>Check out our Instagram and Twitter to keep up to date with the daily menu.</p>
            <div class="ps-md-5 text-center">
                <p> <strong>Dinner</strong> &nbsp;&nbsp;&nbsp;&nbsp;<strong>wine</strong>
                    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Cocktails</strong> </p>
            </div>
            <p class="pt-2">JACKS KITCHEN:</p>
            <p>MON - FRI 12PM - 2:30PM and 5PM - 10PM</p>
            <p>SAT: 5PM - 10PM&nbsp;&nbsp; SUNDAY: CLOSED</p>

        </div>
    </div>
</div>


<!-- section 4  -->
<div class="container">
    <!-- <img src="./image3.webp"" width=" 100%" alt=""> -->
    <div class=" text">
        <h1 class=" ">BOOK THE BACKROOM</h1>
        <h6 class="">MAKE A BOOKING</h6>
        <h1 class="">HIRE THE WHOLE BAR</h1>
        <h6 class="">PRIVATE HIRE INQUIRY</h6>
    </div>
</div>




<!-- section 5  -->
<div class="container1">
    <div class="item">
        <img class="img-fluid"
            src="https://static.wixstatic.com/media/91db4c_a4f6def173104c72856339cb217f1836~mv2.jpg/v1/fill/w_370,h_484,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/Jacks3_edited.jpg"
            alt="">
    </div>
    <div class="item">
        <img class="img-fluid"
            src="https://static.wixstatic.com/media/91db4c_f2b79911113d4872840152026c52c86d~mv2.jpeg/v1/fill/w_363,h_484,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/thumbnail_IMG_4252.jpeg"
            alt="">
    </div>
    <div class="item">
        <img class="img-fluid"
            src="https://static.wixstatic.com/media/91db4c_26feedcefdc74fd2bcd600428129a8d9~mv2.jpeg/v1/fill/w_494,h_485,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/jacks%20.jpeg"
            alt="">
    </div>
    <div class="item">
        <img class="img-fluid"
            src="https://static.wixstatic.com/media/91db4c_ecb10a9af1304901914a323407d3d3a7~mv2.jpeg/v1/fill/w_364,h_485,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/thumbnail_IMG_4250.jpeg"
            alt="">
    </div>
</div>

<!-- section 6 -->
<div class="container2">
    <div class="item2">
        <img class="img-fluid"
            src="https://static.wixstatic.com/media/91db4c_bb4e315dd6d54fe8ba4d310555fe0ef5~mv2.jpeg/v1/fill/w_366,h_489,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/thumbnail_IMG_0326.jpeg"
            alt="">
    </div>
    <div class="item2">
        <img class="img-fluid"
            src="https://static.wixstatic.com/media/91db4c_1d1f4695b0644b8484b9ce470b9718a7~mv2.jpeg/v1/fill/w_363,h_485,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/thumbnail_IMG_0332.jpeg"
            alt="">
    </div>
    <div class="item2">
        <img class="img-fluid"
            src="https://static.wixstatic.com/media/91db4c_2a4031ddeb164cc6afb14a22ef353d4c~mv2.jpeg/v1/fill/w_485,h_485,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/thumbnail_Image.jpeg"
            alt="">
    </div>
    <div class="item2">
        <img class="img-fluid"
            src="https://static.wixstatic.com/media/91db4c_941f41c2ce384808a778b1094f6fdb1e~mv2.jpeg/v1/fill/w_366,h_489,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/thumbnail_IMG_0320.jpeg"
            alt="">
    </div>
</div>

<!-- section7  -->
<div class="main">
    <div class="contact">
        <h5>LOCATIONS</h5>
        <p>JACKS BAR <br>
            MC & SONS <br>
            THE RING <br>
            THE KINGS ARMS</p>
    </div>
    <div class="contact">
        <h5>OPENING TIMES</h5>
        <p>MON - WED: 11:30AM - 11PM <br>
            THU: 11:30AM - 11:30PM <br>
            FRI: 11:30AM - 12AM <br>
            SAT: 4PM - 12AM <br>
            SUN: CLOSED</p>
    </div>
    <div class="contact">
        <h5>CONTACT</h5>
        <p>96 ISABELLA STREET, LONDON SE1 8DD <br>
            TEL: 020 7928 0678 <br>
            EMAIL: JACKS@WINDMILLTAVERNS.COM</p>
    </div>
</div>