<nav class="navbar navbar-expand-sm bg-primary">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" routerLink="Home">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link active" (click)="onAboutUsClick()">About Us</a>
      </li>

      <li class="nav-item">
        <a class="nav-link active" (click)="onContactUsClick()">Contact Us </a>
      </li>


      <li class="nav-item">
        <a class="nav-link active" (click)="onEmpClick()">Employee </a>
      </li>


      <li class="nav-item">
        <a class="nav-link active" routerLink="Solution">Solution</a>
      </li>

      <li class="nav-item">
        <a class="nav-link active" routerLink="Parent">Data Communication</a>
      </li>

      <li class="nav-item">
        <a class="nav-link active" routerLink="compA">Comp-A</a>
      </li>

      <li class="nav-item">
        <a class="nav-link active" routerLink="compB">Comp-B</a>
      </li>

      <li class="nav-item">
        <a class="nav-link active" routerLink="compc">Comp-c</a>
      </li>


      <li class="nav-item">
        <a class="nav-link active" routerLink="compd">Comp-d</a>
      </li>


      <li class="nav-item">
        <a class="nav-link active" routerLink="compe">Comp-e</a>
      </li>

      <li class="nav-item">
        <a class="nav-link active" routerLink="corebanking">corebanking</a>
      </li>

      <li class="nav-item">
        <a class="nav-link active" routerLink="loan">loan</a>
      </li>

      <li class="nav-item">
        <a class="nav-link active" routerLink="primeng">PrimeNg</a>
      </li>

      <li class="nav-item">
        <a class="nav-link active" routerLink="parent1">Paren1</a>
      </li>

      <li class="nav-item">
        <a class="nav-link active" routerLink="Child1">Child1</a>
      </li>



    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>